<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Data</h2>
        <!-- Messages and User List -->
        <div id="message"></div>
        <div id="user-list"></div>

        <script>
            async function fetchUsers() {
                const response = await fetch('/api/user-api', {
                    method: 'GET',
                });
                const users = await response.json();
                if (response.ok) {
                    const userList = users.map(user => {
                        return `<div>${user.username} - ${user.role}</div>`;
                    });
                    document.getElementById('user-list').innerHTML = userList.join('');
                } else {
                    alert(result.msg);
                }
            }
            fetchUsers();
        </script>
        <form action="/logout" method="get">
            <input type="submit" value="Logout">
        </form>
    </div>
</body>
</html>
